/* ==========================================================================
  CUSTOM CSS
  ========================================================================== */

/*
  FONTS IMPORT
  ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/*
  GENERAL
  ========================================================================== */
body {
  font-family: 'Playfair Display', serif;
}

.xdebug-var-dump {
  text-align: center;
  color: #fff;
}

/*
  CUSTOM BOOTSTRAP
  ========================================================================== */
.fs-22 {
  font-size: 1.375rem !important;
}

.bg-blue {
  background-color: #00214A !important;
}

.bg-violet {
  background-color: #32253F !important;
}

.shadow-text {
  text-shadow: black 1px 0 5px;
}

/*
  HEADER
  ========================================================================== */
#home header {
  width: 100%;
  min-height: 80vh;
  background: url('/assets/img/bg-home.webp') top center no-repeat;
  background-size: cover;
}

/* NAVBAR */
.navbar-toggler {
  border-color: rgba(0, 33, 74, 1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 33, 74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.show {
  margin-left: 5px;
  padding: 0px 30px;
  line-height: 64px;
  border-radius: 999em;
  background: #00214A;
  font-weight: 400;
}

.navbar-nav .nav-link.active,
.nav .nav-link.active {
  font-weight: 900;
}

/*
  PRODUCTS
  ========================================================================== */
#products {
  background-color: #6c442a;
}

/*
  CONTACT
  ========================================================================== */
#contact {
  background-color: #6c442a;
}

#contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0.50;
  background: url('/assets/img/bg-contact.webp') top center no-repeat;
  background-size: cover;
}

#contact form {
  background: #B1653490 !important;
}

/*
  FOOTER
  ========================================================================== */
.footer {
  position: relative;
  top: 100px;
  margin-top: 35%;
  background: linear-gradient(180deg, #00214A 30.38%, #004F73 100%);
}

/* Wave animation in the footer */
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/assets/img/bg-blue-wave.png"); 
  background-size: 1000px 100px;
}

.wave#wave1 {
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  bottom: 10px;
  animation: animate 4s linear infinite;
}

.wave#wave3 {
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  bottom: 20px;
  animation: animate 3s linear infinite;
}

/* Keyframes */
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-position-x: 0px;
  }
}
